@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: linear-gradient(135deg, #fabd06, #f6f4f4); /* Gradient with orange and light green */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); /* 3D shadow */
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 24px;
    max-width: 24px;
    margin: 0 auto;
    padding: 0 4px;
    color: rgb(5, 5, 5);
    flex-direction:row; /* Ensure items are aligned horizontally */
    font:uppercase;
    padding-top: 24px;
  }
  .flex-hidden {
    display: none;
  }
  .navLink {
    text-transform: uppercase;
  }
  
  